<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuri.youracai">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="acai_alex.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.yuri.youracai.Dominio.Produto,com.yuri.youracai.Dominio.Categoria, com.yuri.youracai.Dominio.Funcionario,              com.yuri.youracai.Dominio.Venda, com.yuri.youracai.Dominio.ItemVendido" />

        <activity
            android:name=".Activitys.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProdutosMain" />
        <activity android:name=".Activitys.AdicionarProdutoActivity" />
        <activity android:name=".Activitys.VerProdutosActivity" />
        <activity android:name=".Activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.CadastroFuncionarioActivity" />
        <activity android:name=".Activitys.ConfiguracoesActivity" />
        <activity
            android:name=".Activitys.VendaActivity"
            android:label="@string/title_activity_venda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activitys.EsqueceuLogin" />
        <activity android:name=".Activitys.PerfilFuncionario" />
        <activity android:name=".Activitys.VerDetalhesProduto"></activity>
    </application>

</manifest>